*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
/*
body{
    background-image: url('./assets/portfolio-hero.jpg');
}
*/
header{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

/*changed units for img element from px to vw.  looks a little
big on browser, but i like the mobile view.  maybe switch back to px and put a media query in */
img{
    height: 30vw;
    width: 30vw;
}
